li {
    display: flex;
    align-content: center;
    width: 50%;
    gap: 7%;
    background-color: white;
    margin-top: 10px;
    border-radius: 9px;
    border: 2px solid black;
    font-weight: bold;
}
#items {
    justify-content: center;
    display: flex;
    align-content: center;
}
span {
    padding-left: 10px;
    padding-right: 10px;
}

.TodoItem-p--complete {
    text-decoration: line-through;
}
